@charset "utf-8";
*{margin:0;padding:0;}
ol,ul,li{list-style:none;}
img, a img{line-height:0;font-size:0;border:0;}
em,i,b{ font-weight:normal;font-style:normal;}
textarea{resize: none;}
input,select,textarea{outline:0;outline: none;font-size: 14px;}
input{-webkit-appearance:none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
body{font-size: 16px;;font-family:Helvetica,Arial,sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
a{text-decoration: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clear{clear: both;margin-top: 10px;}
.link-area {display: block;margin-top: 25px;text-align: center;}
.mui-btn {padding: 10px;}
.mui-input-group:first-child {margin-top: 20px;}
.mui-input-group {margin-top: 10px;}
#reg{color: #9a9b9b;}
#forgetPassword{color:#ff8b17;}
.logingbtn{background-color: #4992E2;color: #ffffff;border: none; border-radius: 3px;width: 100%;line-height:30px;font-size: 16px;}
.mui-input-group .mui-input-row {height: 47px;}
.mui-input-row label {width: 20%;}
.mui-input-row label ~ input, .mui-input-row label ~ select, .mui-input-row label ~ textarea{width: 80%;}
.mui-title{color: #4992E2;}
.mui-action-back {color: #4992E2}
#mui-action-back{color: #4992E2}
.mui-bar-nav{background: #fff;height: 45px;}
.logp-img{margin:auto;margin-top: 25px;margin-bottom: 25px;text-align: center;}
.logp-img>img{width: 40%;}
.index-top-title{text-align: right;height: 45px;line-height: 45px;}
.index-top-title>span{color: #4992E2;}
.mui-scroll-wrapper{margin-top: 45px;margin-bottom: 45px;}
.index-menu4{background: #fff;margin-top: -8px;padding-top: 5px;}
.index-menu4>p{margin: 10px 10px;}
.index-menu4>p a{width: 49%;display: inline-block;}
.index-menu4>p a img{width: 100%;}
.index-menu4>p:nth-child(2){margin-top: -10px;}
.index-list{background: #fff;}
.index-list ul li{border-bottom: 1px solid #ccc;height: 80px;}
.index-list ul li:nth-child(4){border-bottom: none;}
.list-left{float: left;padding: 15px 8px;overflow: hidden;white-space:nowrap;width: 70%;}
.list-left span{font-size: 14px;}
.list-left >p{margin-top: 10px;color: #736767;font-size: 13px;}
.p-name{color: #524E4E;margin-left: 5px;}
.user-renzhen{border: 1px solid #55B513;border-radius: 3px;padding: 2px 2px;color:#55B513}
.list-right{float:right;margin-right: 10px;}
.list-right{margin-top: 25px;}
.list-right>label{border: 1px solid #E42D10;border-radius: 10px;padding: 6px 9px;font-size: 13px;color: #E42D10}
.qiye-renzhen{border: 1px solid #4992E2;border-radius: 3px;padding: 2px 2px;color:#4992E2}
.qdjh{background: #E42D10;color: #fff;width: 40px;height: 40px;line-height: 40px;display: block;text-align: center;border-radius: 50%;margin-top: -20px;margin-left: 7px;}
.q-tip{font-size: 13px;color: #E42D10}
@font-face {font-family: 'iconfont';
    src: url('../css/iconfont.eot'); /* IE9*/
    src: url('../css/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../css/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../css/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../css/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
   
  .findes{width: 100%;height: 100%;margin-bottom: 56px;} 
  .findes ul li{width: 49%;display: inline-block;padding: 20px 0px;text-align: center;background: #fff;margin-top: 8px;} 
  .findes ul li img{width: 53%;}
  .findes ul li p{text-align: center;color: #000000;}

.from{margin-top: 20px;padding: 10px 10px}
#send {
  height: 40px;background: #20C350;color: #fff;text-align: center;
    border-radius: 3px;border: none;cursor: pointer;margin-left: 5px;
}
#phone{width: 60%;}
.user-info{background: url('../images/8wdzl_6.png');background-size: 100%;height: 210px;}
.user-menu {background-color: #fff}
.user-menu li{height: 50px;line-height: 50px;user-3menupx;border-bottom: 1px solid #EAE9E9;text-indent: 10px;cursor: pointer;}
.user-menu li a{color: #736B6B;display: block;}
.user-top{padding-top: 10px;padding-left: 10px;}
.user-logimg {margin-top: -10px;text-align: center;position: relative;}
.user-logimg img{width: 80px;border-radius: 50%;height: 80px;}
#sex{width: 13px;height: 13px;margin-left: 5px;}
.user-3menu{margin-top: 30px;height: 50px;text-align: center;}
.user-3menu a{height: 40px;width: 33.3%;float: left;color: #191818;padding-top: 10px;}
.pj-tips{color: #EC590A}
.up-user li{height: 50px;line-height: 50px;color: #5D5C5C;position: relative;}
.up-user li img{width: 20px;margin-right: 10px;}
.up-user li img.jt{width: 9px;margin-top: 5px;position: absolute;top: 15px;right: 0;}
#uplod-file{position: absolute;opacity: 0;filter: alpha(opacity=0);width: 80px;height: 80px;right: 120px;}
.mui-radio input[type='radio']:before{font-size:23px;} 

.jf-title{background: #fff;height: 60px;line-height: 60px;padding-left: 10px;font-size: 17px;}
.jf-title img{width: 25px;height: 25px;margin-right: 10px;margin-bottom: -5px;}
.jf-title span{float: right;margin-right: 10px;color: #DD524D}
.jf-title span:after{content: '分';color: #171515}
.jf-tips{padding: 2px 8px;font-size: 18px;}
.init-list{padding: 10px 8px;font-size: 16px;color: #484747}
.init-list>div{margin-top: 15px;}
.cardimg {float: left;width: 50%;text-align: center;margin-top: 10px;position: relative;}
.cardimg >p{color: #007AFF}
.cardimg img{width: 90px;height: 90px;position: relative;}


.mui-icon-search:before{color: #0062cc;font-weight: bold;}
.find-tab{background:#fff;}
.find-tab ul{border-bottom:1px solid #E6E1E1;height:45px;}
.find-tab ul li{float:left;height:45px;line-height:45px;text-align:center;width:33.3%;}
.find-tab ul li.on{color:#17C134;border-bottom:1px solid #17C134;}
.find-xiala-ul li>img{width:13px;margin-left:10px;}
.serach{position:absolute;right:50px;top:8px;}


.yj-tab ul li{width: 50%;}

.list-ul{background: #efeff4}
.list-ul li{background: #fff;padding: 10px 10px;margin-top: 10px;}
.list-ul li a p{color: #5F5B5B;margin-top: 5px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.list-ul li a p:nth-child(1){color: #0FA3FD;}
.list-ul li a p:nth-child(2){font-weight: bold;}
.list-ul li a p>span{float: right;margin-right: 10px;color:#9E9A9A}


.score{position: absolute;right: 10px;top: 20px;}
.start0{display: block;background: url('../images/x0.png');background-size: 100%;height: 15px;width: 90px;}
.start1{display: block;background: url('../images/x1.png');background-size: 100%;height: 15px;width: 90px;}
.start2{display: block;background: url('../images/x2.png');background-size: 100%;height: 15px;width: 90px;}
.start3{display: block;background: url('../images/x3.png');background-size: 100%;height: 15px;width: 90px;}
.start4{display: block;background: url('../images/x4.png');background-size: 100%;height: 15px;width: 90px;}
.start5{display: block;background: url('../images/x5.png');background-size: 100%;height: 15px;width: 90px;}
.score span:nth-child(2){color: #4992E2;display: block;margin-top: 10px;}
.evaluation{background: #fff;padding: 10px 10px;}
.evaluation img{width: 10px;float: right;}
.introduce{background: #fff;padding: 10px 10px;margin-top: 10px;}
.introduce img{width: 12px;float: right;margin-top: 10px;}
.introduce p{border-top: 1px solid #ccc;padding-top: 10px;margin-top: 10px;font-size: 14px;}
.business{background: #fff;}
.business ul li{height: 45px;line-height: 45px;border-bottom: 1px solid #F3E6E6;text-indent: 10px;overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.business ul li img{width: 12px;float: right;margin-top: 10px;margin-right: 10px;}
.business ul li span{text-align: right;display: inline-block;width: 70%}
.project-img img{width: 100%;margin-bottom: 10px;position: relative;}
.img-tips{position: absolute;bottom:30px;background: rgba(23, 23, 23, 0.71);width: 94%;padding: 5px 5px;}
.img-tips span{color: #fff}
.img-tips p{margin-top: -10px;color: #fff;border-top: none;color: #fff}
.dw-img{width: 32%;display: inline-block;}
.dw-img img{width: 100%;}
<<<<<<< HEAD
=======


.details{background: #fff;padding: 15px 10px;font-size: 14px;}
.details p{margin-top: 8px;}
.details p>label{float: right;color: #A5A0A0}
.details:nth-child(1){margin-top:0;}
.details{margin-top: 15px;}
.ckdw{display: block;text-align: center;height: 40px;line-height: 40px;color: #fff;border-radius: 3px;background: #DE7709;font-size: 18px;}
.qd{display: block;text-align: center;height: 40px;line-height: 40px;color: #DE7709;border-radius: 3px;font-size: 18px;border: 1px solid #DE7709;margin-top: 10px;}
.details img{float: right;width: 10px;margin-top: 5px;}
.details-operation{background: rgba(0,0,0, .5);padding: 10px 10px;position: absolute;bottom: 0;z-index: 99999;width: 100%;text-align: center;}
.opqd img{width: 60px;}
.opqd span{display: inline-block;background: #ccc;width: 60px;height: 60px;border-radius: 50%;text-align: center;margin-left: 15px;}
.opqd span>img{width: 35px;margin-top: 13px; }
.opqd span.phone-img{background: rgb(160,212,104);}
.opqd span.message-img{background: rgb(93,297,234);}
.opqd span.chengjiao-img{background: rgb(67,205,121);}
>>>>>>> 30a14431664e68998d536b67fa0ea364eee2be06


.details{background: #fff;padding: 15px 10px;font-size: 14px;}
.details p{margin-top: 8px;}
.details p>label{float: right;color: #A5A0A0}
.details:nth-child(1){margin-top:0;}
.details{margin-top: 15px;}
.ckdw{display: block;text-align: center;height: 40px;line-height: 40px;color: #fff;border-radius: 3px;background: #DE7709;font-size: 18px;}
.qd{display: block;text-align: center;height: 40px;line-height: 40px;color: #DE7709;border-radius: 3px;font-size: 18px;border: 1px solid #DE7709;margin-top: 10px;}
.details img{float: right;width: 10px;margin-top: 5px;}
.details-operation{background: rgba(0,0,0, .5);padding: 10px 10px;position: absolute;bottom: 0;z-index: 99999;width: 100%;text-align: center;}
.opqd img{width: 60px;}
/***footer**/
.mui-toast-container{bottom: 50%}
.mui-toast-message{background: rgba(14, 14, 14, 0.86);color: #fff;}
.index-zh{
  background:rgba(73, 146, 226, 0.59);height: 25px;line-height: 25px;position: absolute;
  bottom: 45px;z-index: 999;width: 100%;text-align: center;color:#0A62C1;
  }


.index-footer{position: fixed;bottom: 0;clear: both;padding-top: 3px;height: 45px;width: 100%;border-top: 1px solid #ECE8E8;z-index: 9999;background: #f1f4f9;}
.menu-footer {width: 100%;}
.menu-footer li{float: left;width: 25%;text-align: center;}
.menu-footer li a{color: #7F7A7A;font-size: 10px;text-align: center;width: 25%;}
.menu-footer li a.on{color: #4992E2;}
.menu-footer li a p{margin-top: -2px;}
.menu-footer li a p.on{color: #4992E2;}
.menu-footer li a i.iconfont{font-size: 1.4rem;}




/*mTips css End*/
#MB{display:none; position:fixed; top:0; left:0; z-index:9999; width:100%; height:100%;}
#loadDiv{position:fixed; top:50%; left:40%; z-index:99999;width: 80px;height: 50px;background-color:rgba(0,0,0, .8);text-align: center;border-radius: 5px;padding-top: 5px;}
#loadDiv>img{width: 40px;}

